<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="styles/style.css" type="text/css" rel="stylesheet" />
</head>
<body ng-app="myApp" >﻿
<h1 class="heading">todo</h1>
<div ng-controller="taskCtrl" class="content">
    <form name="myForm">
        <input class="task-input" ng-model="task" placeholder="What would you do?" required>
        <button class="add-task" ng-click="addTask()">Click me!</button>
    </form>
    <div class="warn" ng-show="isSameTask">This task has been existed.</div>
    <div ng-show="tasks.length" class="table-head">
            <p>Click on "№" or "Tasks" to sort the list</p>
            <div class="table-th-number" ng-click="orderBy('number')">№</div>
            <div class="table-th-task" ng-click="orderBy('task')">Tasks</div>
    </div>
    <div ng-repeat="item in tasks| orderBy: order" class="repeat">
        <div class="table-tr">
            <div class="td-number">{{item.number}}</div>
            <div class="td-task">
                {{item.task}}
                <button class="btn-delete" ng-click="deleteTask(item)">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="js/index.js" type="text/javascript"></script>
</body>
</html>